
.html{
    background-color: black;
}

/* li{
    background-color: aquamarine;
}

li{
    background-color: blue ;
}

li{
    background-color: brown;
} */

#html
{
    background-color: blanchedalmond;
}

